/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  // 1. INDISPENSABLE EN V19 : Dit au navigateur d'autoriser le mode clair (light) et sombre (dark)
  color-scheme: light dark;

  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

mat-progress-spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
